*{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
box-sizing: border-box;

}

h1{
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}


section{
    position: relative;
    padding: 15px;
}

.note{
    padding: 5px;
    border: none;
    margin: 0px;
    height: 150px;
}



.chicken{
    background-color: indianred;
    float: right;
    text-align: center;
    font-weight: bold;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0;
    padding: 5px;
    width: 90px;
}

.beef{
    background-color: red;
    float: right;
    text-align: center;
    font-weight: bold;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0;
    padding: 5px;
    width: 90px;
    
}

.sushi{
    background-color: burlywood;
    float: right;
    text-align: center;
    font-weight: bold;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0;
    padding: 5px;
    width: 90px;
   
}

p{
   position: relative;
   clear: right;
}

div{
    border: 2px solid black;
    display: block;
    background-color: lightslategrey; 
}


/*Desktop version*/
@media(min-width:992px){
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6,
    .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, 
    .col-lg-12 {
        float: left;
    }
    .col-lg-1{
        width: 8.33%;
    }
    .col-lg-2{
        width: 16.66%;
    }
    .col-lg-3{
        width: 25%;
    }
    .col-lg-4{
        width: 33%;
    }
    .col-lg-5{
        width: 41.66%;
    }
    .col-lg-6{
        width: 50%;
    }
    .col-lg-7{
        width: 58.33%;
    }
    .col-lg-8{
        width: 66.66%;
    }
    .col-lg-9{
        width: 74.99%;
    }
    .col-lg-10{
        width: 83.33%;
    }
    .col-lg-11{
        width: 91.66%;
    }
    .col-lg-12{
        width: 100%;
    }
    }
    
    /*Tablet version*/
    @media(min-width:768px) and (max-width:991px){
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, 
    .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11,
    .col-md-12{
        float: left;
    }
    .col-md-1{
        width: 8.33%;
    }
    .col-md-2{
        width: 16.66%;
    }
    .col-md-3{
        width: 25%;
    }
    .col-md-4{
        width: 33%;
    }
    .col-md-5{
        width: 41.66%;
    }
    .col-md-6{
        width: 50%;
    }
    .col-md-7{
        width: 58.33%;
    }
    .col-md-8{
        width: 66.66%;
    }
    .col-md-9{
        width: 74.99%;
    }
    .col-md-10{
        width: 83.33%;
    }
    .col-md-11{
        width: 91.66%;
    }
    .col-md-12{
        width: 100%;
    }

    div{
    border: 2px solid black;
    display: block;
    background-color: lightslategrey; 
    }
    }
    
    /*Mobile version*/
    @media(min-width:767px){
    
    }
    






